# Compiled class file
*.class
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
/build-cache/

# Log file
*.log

# gradle files
*.lock
*.bin

# prefs file
*.prefs

# local env
.vscode
.gradle

/build-cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#IDE
.classpath
.project

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
bin
build

# IntelliJ
.idea/*

# MacOS
.DS_Store

# Gradle
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore gcp datastore key
key.json
